@page "/"

<h3>Manipulator</h3>

<Form Model="@Model">
    <FormItem>
        <TextArea Placeholder="Input" MinRows="4" MaxRows="4" @bind-Value="@InputText" />
    </FormItem>

    <FormItem>
        <RadioGroup ButtonStyle="solid" @bind-Value="@Model.TextCase">
            <Radio RadioButton Value="@TextCase.Unchanged">Unchanged</Radio>
            <Radio RadioButton Value="@TextCase.UpperCase">UPPER CASE</Radio>
            <Radio RadioButton Value="@TextCase.LowerCase">lower case</Radio>
            <Radio RadioButton Value="@TextCase.SentenceCase">Sentence case</Radio>
            <Radio RadioButton Value="@TextCase.TitleCase">Title Case</Radio>
            <Radio RadioButton Value="@TextCase.CamelCase">camelCase</Radio>
            <Radio RadioButton Value="@TextCase.PascalCase">PascalCase</Radio>
            <Radio RadioButton Value="@TextCase.SnakeCase">snake_case</Radio>
            <Radio RadioButton Value="@TextCase.KebabCase">kebab-case</Radio>
            <Radio RadioButton Value="@TextCase.RandomCase">rAnDOm caSe</Radio>
        </RadioGroup>
    </FormItem>

    <FormItem>
        <Checkbox @bind-Value="@Model.TrimWhitespace">
            Trim whitespace
        </Checkbox>
    </FormItem>

    <FormItem>
        <Checkbox @bind-Value="@Model.ClapItUp">
            Clap 👏 it 👏 up!
        </Checkbox>
    </FormItem>

    <FormItem Label="Character Limit">
        <AntDesign.InputNumber Placeholder="No limit" @bind-Value="@Model.CharLimit" />
    </FormItem>

    <FormItem>
        <Button
            Type="primary"
            Block
            Size="large"
            OnClick="@Manipulate"
            Disabled="@InputIsBlank"
            Loading="@Loading">
            Transform
        </Button>
    </FormItem>

    <FormItem>
        <TextArea Placeholder="Output" MinRows="4" MaxRows="4" @bind-Value="@OutputText" />
    </FormItem>
</Form>
