@page "/"

<h3>Manipulator</h3>

<Field>
    <MemoEdit Placeholder="Input" Rows="4" @bind-Text="@InputText" />
</Field>

<Form Model="@Model">
    <Field>
        <RadioGroup
            TValue="TextCase"
            Name="textCase"
            Buttons="true"
            @bind-CheckedValue="@Model.TextCase">
            <Radio Value="@(TextCase.Unchanged)">Unchanged</Radio>
            <Radio Value="@(TextCase.UpperCase)">UPPER CASE</Radio>
            <Radio Value="@(TextCase.LowerCase)">lower case</Radio>
            <Radio Value="@(TextCase.SentenceCase)">Sentence case</Radio>
            <Radio Value="@(TextCase.TitleCase)">Title Case</Radio>
            <Radio Value="@(TextCase.CamelCase)">camelCase</Radio>
            <Radio Value="@(TextCase.PascalCase)">PascalCase</Radio>
            <Radio Value="@(TextCase.SnakeCase)">snake_case</Radio>
            <Radio Value="@(TextCase.KebabCase)">kebab-case</Radio>
            <Radio Value="@(TextCase.RandomCase)">rAnDOm caSe</Radio>
        </RadioGroup>
    </Field>

    <Field>
        <Check TValue="bool" @bind-Checked="@Model.ClapItUp">
            Clap 👏 it 👏 up!
        </Check>
    </Field>

    <Field Horizontal="true">
        <FieldLabel>Character Limit</FieldLabel>
        <FieldBody>
            <NumericEdit Placeholder="No limit" TValue="int?" @bind-Value="@Model.CharLimit" />
        </FieldBody>
    </Field>

    <Field>
        <Button
            Color="Color.Primary"
            Block="true"
            Size="Size.Large"
            Clicked="@Manipulate"
            Disabled="@InputIsBlank"
            Loading="@Loading">
            Manipulate
        </Button>
    </Field>
</Form>

<Field>
    <MemoEdit Placeholder="Output" Rows="4" @bind-Text="@OutputText" />
</Field>
