@page "/"

<h3>Manipulator</h3>

<Space Direction="vertical"
       Style="width: 100%;">
    <SpaceItem>
        <TextArea Placeholder="Input" MinRows="4" MaxRows="4" @bind-Value="InputText" />
    </SpaceItem>

    <SpaceItem>
        <Form
            Layout="@(FormLayout.Vertical)"
            Loading="Loading"
            Model="@Model">

            <FormItem>
                <RadioGroup ButtonStyle="solid" @bind-Value="Model.TextCase">
                    <Radio RadioButton Value="@(TextCase.Unchanged)">Unchanged</Radio>
                    <Radio RadioButton Value="@(TextCase.UpperCase)">UPPER CASE</Radio>
                    <Radio RadioButton Value="@(TextCase.LowerCase)">lower case</Radio>
                    <Radio RadioButton Value="@(TextCase.SentenceCase)">Sentence case</Radio>
                    <Radio RadioButton Value="@(TextCase.TitleCase)">Title Case</Radio>
                    <Radio RadioButton Value="@(TextCase.CamelCase)">camelCase</Radio>
                    <Radio RadioButton Value="@(TextCase.PascalCase)">PascalCase</Radio>
                    <Radio RadioButton Value="@(TextCase.SnakeCase)">snake_case</Radio>
                    <Radio RadioButton Value="@(TextCase.KebabCase)">kebab-case</Radio>
                    <Radio RadioButton Value="@(TextCase.RandomCase)">rAnDOm caSe</Radio>
                </RadioGroup>
            </FormItem>

            <FormItem>
                <Checkbox @bind-Value="Model.ClapItUp">
                    Clap 👏 it 👏 up!
                </Checkbox>
            </FormItem>

            <FormItem Label="Character Limit">
                <AntDesign.InputNumber @bind-Value="Model.CharLimit" Max="2147483647" />
            </FormItem>

            <FormItem>
                <Button Size="large" Type="primary" Block @onclick="Manipulate">Manipulate</Button>
            </FormItem>
        </Form>
    </SpaceItem>

    <SpaceItem>
        <TextArea Placeholder="Output" MinRows="4" MaxRows="4" @bind-Value="OutputText" />
    </SpaceItem>
</Space>
