@page "/numbers"

<h3>Numbers</h3>

<Form Model="@Model">
    <FormItem>
        <Input Placeholder="Input" Size="large" @bind-Value="@InputNumber" />
    </FormItem>

    <FormItem>
        <RadioGroup ButtonStyle="solid" @bind-Value="@Model.Notation">
            <Radio RadioButton Value="@Notation.Digits">Digits</Radio>
            <Radio RadioButton Value="@Notation.Words">Words</Radio>
            <Radio RadioButton Value="@Notation.OrdinalWords">Ordinal Words</Radio>
            <Radio RadioButton Value="@Notation.RomanNumerals">Roman Numerals</Radio>
            <Radio RadioButton Value="@Notation.Metrics">Metrics</Radio>
        </RadioGroup>
    </FormItem>

    <FormItem>
        <Button
            Type="primary"
            Block
            Size="large"
            OnClick="@Transform"
            Disabled="@InputIsBlank"
            Loading="@Loading">
            Transform
        </Button>
    </FormItem>

    <FormItem>
        <TextArea Placeholder="Output" MinRows="4" MaxRows="4" @bind-Value="@OutputText" />
    </FormItem>
</Form>
