@page "/numbers"

<h3>Numbers</h3>

<Field>
    <NumericEdit Placeholder="Input" TValue="int?" @bind-Value="@InputNumber" />
</Field>

<Form Model="@Model">
    <Field>
        <RadioGroup
            TValue="Notation"
            Name="notation"
            Buttons="true"
            @bind-CheckedValue="@Model.Notation">
            <Radio Value="@(Notation.Digits)">Digits</Radio>
            <Radio Value="@(Notation.Words)">Words</Radio>
            <Radio Value="@(Notation.OrdinalWords)">Ordinal Words</Radio>
            <Radio Value="@(Notation.RomanNumerals)">Roman Numerals</Radio>
            <Radio Value="@(Notation.Metrics)">Metrics</Radio>
        </RadioGroup>
    </Field>

    <Field>
        <Button
            Color="Color.Primary"
            Block="true"
            Size="Size.Large"
            Clicked="@Transform"
            Disabled="@InputIsBlank"
            Loading="@Loading">
            Transform
        </Button>
    </Field>
</Form>

<Field>
    <MemoEdit Placeholder="Output" Rows="4" @bind-Text="@OutputText" />
</Field>
