@page "/numbers"

<h3>Numbers</h3>

<Space Direction="vertical"
       Style="width: 100%;">
    <SpaceItem>
        <Input @bind-Value="InputNumber" />
    </SpaceItem>

    <SpaceItem>
        <Form
            Layout="@(FormLayout.Vertical)"
            Loading="Loading">

            <FormItem>
                <RadioGroup ButtonStyle="solid" @bind-Value="Notation">
                    <Radio RadioButton Value="@(Notation.Digits)">Digits</Radio>
                    <Radio RadioButton Value="@(Notation.Words)">Words</Radio>
                    <Radio RadioButton Value="@(Notation.OrdinalWords)">Ordinal Words</Radio>
                    <Radio RadioButton Value="@(Notation.RomanNumerals)">Roman Numerals</Radio>
                    <Radio RadioButton Value="@(Notation.Metrics)">Metrics</Radio>
                </RadioGroup>
            </FormItem>

            <FormItem>
                <Button Size="large" Type="primary" Block @onclick="Transform">Transform</Button>
            </FormItem>
        </Form>
    </SpaceItem>

    <SpaceItem>
        <TextArea Placeholder="Output" MinRows="4" MaxRows="4" @bind-Value="OutputText" />
    </SpaceItem>
</Space>
